html {
    font-size: 62.5%;
}
body {
    font-family: "montserrat", sans-serif;
}

:root {
    --black : #1b1d29;
    --white : #ffffff;
    --big-overlay : rgb(253, 255, 206, 0.96);
    --btn-red: #fe4c13;
    --btn-red-hoover: #ee3a01;
    --btn-light-blue: #3fb3e4;
    --btn-light-blue-hover: #21a7e0;
    --shadow: #cccea7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body,
html,
#app {
   height: 100%;

}

#app {
    background: var(--big-overlay)
    overflow-y: scroll;
}

.app-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

header {
    background: var(--black);
    padding:  1rem 2rem;
}

main {
    height: 100%;

}
/* cards */
.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
}
/* card */
.card{
    width: 25rem;
    border: 2px solid var(--black);
    overflow: hidden;
    box-shadow: 2px;
    transition: all 0.5 ease;
    cursor: pointer;
}
.card:first-of-type {
    margin-bottom: 5rem;
}

/* card image */
.card-image {
    width: 25rem;
    height: 20rem;
    object-fit: cover;
    vertical-align: middle;
}
/* card information */
.card-info {
    display: flex;
    justify-content: space-evenly;
    background: var(--white);
    color: var(--black);
    padding: 2rem 0;
}
.candidate-votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;

}

.votes-number-trump,
.votes-number-biden {
    font-weight: 700;
    font-size: 2.5rem;
}

.votes-text {
    font-size: 1rem;
    font-weight: 600;

}
/* line */
.line{
    width: 0.4rem;
    background: var(--black);

}
/* candidate info */
.candidate-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.candidate-name{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.candidate-party{
    font-size: 1rem;
    font-weight: 600;

}
/* card button */
.card-btn{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0;
    color: var(--white);
    cursor: pointer;
    border-top: 2px solid var(--black);
}

.btn-trump,
.btn-biden{
    transition: all 0.5s ease;
}
.btn-trump{
    background: var(--btn-red);
}
.btn-biden{
    background: var(--btn-light-blue);
}